extends layout

block content
    nav(class='navbar navbar-default navbar-fixed-top' id='test' role='navigation')
        a(class='navbar-brand' href='#') talasurf
        ul(class='nav navbar-nav')
            li
                a(class='navLinks' href='/') home
            li
                a(class='navLinks' href='/about') about
    div
    div(class='col-md-3')
    div(class='col-md-6 description')
        p(class='aboutDesc')  
        |Talasurf is an early stage media site. We're currently testing design and content. If you have any ideas for topics you'd like to read about, please let us know. Thanks! 
    div(class='form-group')
        form(method= "post" id="commentForm")
            textarea(class='form-control control' type='text' name='comment' form="commentForm")
            input(class='btn btnLeft' type='submit' value='Send')
            input(class='btn btnRight' type='reset' value='Reset')