doctype html
html
  head
    title= title
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/main.css')
    link(rel='stylesheet' href='/stylesheets/admin.css')
    link(rel='stylesheet' href='/stylesheets/about.css')
  body
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='/javascripts/main.js')
    script(src='/javascripts/admin.js')
    script(src='/javascripts/form.js')

